  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    }
    
    body{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center; */
    background: linear-gradient(45deg, #257fc9, #185e5e)
    }
    
    .calculator{
        padding: 15px;
        box-shadow: 0 0 15px #0b33b9;
        border: 1px solid rgb(14, 215, 230);
        border-radius: 15px;
        }

        .display input{
        width: 360px;
        border: none;
        outline: none;
        padding: 20px;
        margin: 10px;
        background: transparent;
        color:#140d0d;
        font-size: 50px;
        text-align: right;
        cursor: pointer;
        }

        input::placeholder{
            color: #110f0f;
            }

            button {
            width: 70px;
            height: 70px;
            margin: 10px;
            background: transparent;
            color: #0f0808;
            font-size: 22px;
            font-weight: 600;
            border: 0;
            border-radius: 50%;
            box-shadow: -5px -6px 15px #ca5e99;
            outline: 1px solid #801861;
            outline-offset: 3px;
            cursor: pointer;
        }

        button:active {
        background: #4c574d;
        transform: translate(2px, 2px);
        }

        .opr{
            color: #1d180c;
            background: □ #412b2b;
            font-weight: 750;
            }

            #eqBtn{
            background: ☐ rgb(0, 0, 0);
            font-weight: 900;
            }
